<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>FutbolLiga</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
	<link rel="shortcut icon" th:href="@{/img/imagenLogo.png}">
</head>
<body class ="barra">
	<div class="barraLateral">
		<div class="logoBarra">
			<img class="fotoBarra" th:src="@{/img/imagenLogo.png}" />
		</div>
        <ul>
            <li th:if="${usuario.tipousuario.nombreTipoUsuario == 'admin'}"><a th:href="@{/admin/equipo}">Crear Equipo</a></li>
            <li th:if="${usuario.tipousuario.nombreTipoUsuario == 'admin'}"><a th:href="@{/admin/partido}">Crear Partidos</a></li>
            <li th:if="${usuario.tipousuario.nombreTipoUsuario == 'admin'}"><a th:href="@{/admin/arbitro}">Crear &Aacute;rbitro</a></li>
            <li th:if="${usuario.tipousuario.nombreTipoUsuario == 'jugador'}"><a th:href="@{/sesion}">Perfil</a></li>
            <li th:if="${usuario.tipousuario.nombreTipoUsuario != 'admin' and usuario.tipousuario.nombreTipoUsuario != 'arbitro'}">
            <a th:href="@{/equipo}">Equipo</a></li>
            <li><a th:href="@{/partidos}">Lista de Partidos</a></li>
            <li><a th:href="@{/clasificacion}">Clasificaci&oacute;n</a></li>
            <li><a th:href="@{/logout}">Cerrar Sesi&oacute;n</a></li>
        </ul>
    </div>
    <div class="contenido">
    	<form th:action="@{/perfil/cambiar}" method="post">
		    <table width="35%" cellpadding="8" class="cuadradoBarra">
			    <thead>
			    	<thead>
						<tr>
							<th colspan="2">Perfil del Jugador</th>
						</tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td><label for="nombreJugador">Nombre del Jugador:</label></td>
			            <td><input type="text" id="nombreJugador" th:field="${jugador.nombreJugador}" /><td>
			            <td><input type="hidden" id="idJugador" name="idJugador" th:value="${jugador.idjugador}" /></td>
			        </tr>
			        
			        <tr>
			            <td><label for="dorsal">Dorsal:</label></td>
			            <td><input type="number" id="dorsal" th:field="${jugador.dorsal}" /></td>
			        </tr>
			        
			        <tr>
			           <td> <label>Nombre de Usuario:</label></td>
			            <td><span th:text="${jugador.usuario.nombre}">Nombre de Usuario</span></td>
			        </tr>
			        
			        <tr>
			           <td> <label>Equipo:</label></td>
			            <td><span th:text="${equipo.nombreEquipo}">Equipo</span></td>
			            <td> <input type="hidden" id="equipoId" name="equipoId" th:value="${equipo.idEquipo}" /></td>
			        </tr>
			        
			        <tr>
			            <td><label>Goles:</label></td>
			            <td><span th:text="${goles}">Goles</span></td>
			        </tr>
			        
			        <tr>
			            <td><label>Tarjetas Amarillas:</label></td>
			            <td><span th:text="${tarjetasAmarillas}">Tarjetas Amarillas</span></td>
			        </tr>
			        
			        <tr>
			           <td> <label>Tarjetas Rojas:</label></td>
			           <td><span th:text="${tarjetasRojas}">Tarjetas Rojas</span></td>
			        </tr>
			        
			        <tr>
			           <td colspan=2> <button type="submit" class="boton">Guardar Cambios</button></td>
			        </tr>
			        
			    </tbody>
		    </table>
    	</form>
    </div>
</body>
</html>

